<div class="container-fluid">
<img class="img-fluid rounded-circle rounded mx-auto d-block foto" src="https://s2.glbimg.com/9HEH2_0s7XU8hPP7K-j62Cgmsss=/512x320/smart/e.glbimg.com/og/ed/f/original/2018/03/28/george.png" alt="George R. R. Martin">

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 d-flex justify-content-center text-light"><strong> George R. R. Martin </strong></h1>
        <p class="lead text-light">George Raymond Richard Martin é um famoso roteirista e escritor de fantasia, ficção científica e terror.
            O autor é conhecido pela série de livros best-seller "As Crônicas de Gelo e Fogo", que virou sucesso na televisão como o seriado "Game of Thrones".</p>
    </div>
</div>

<!-- Cards -->

<h4 id="projetos" class="text-center fonte font-weight-bold text-light ">Principais Obras</h4>
<hr>
<div class="row d-flex justify-content-center ">      
  
    <div class="col-md-3 m-3 d-flex justify-content-center">
        <div class="card border text-center border-radius card bg-transparent text-light" style="width: 18rem;">
            <img class="card-img-top border-radius " src="https://images-na.ssl-images-amazon.com/images/I/51-Dz+8aLjL.jpg" alt="Imagem de capa do card">
            <div class="card-body">
                <h4 class="card-title fonte font-weight-bold">A Morte da Luz</h4>
                <p class="card-text">"Primeiro livro escrito por George R. R. Martin"</p>
                <div class="">
                   
                </div>
                
            </div>
        </div>
        
    </div>

    <div class="col-md-3 m-3 d-flex justify-content-center">
        <div class="card border text-center border-radius card bg-transparent text-light" style="width: 18rem;">
            <img class="card-img-top border-radius " src="https://images-na.ssl-images-amazon.com/images/I/51hm8u+pUWL.jpg" alt="Imagem de capa do card">
            <div class="card-body">
                <h4 class="card-title fonte font-weight-bold">O Dragão de Gelo</h4>
                <p class="card-text">"Principal obra, e seu maior orgulho"</p>
                <div class="">
                   
                </div>
                
            </div>
        </div>
        
    </div>
    <div class="col-md-3 m-3 d-flex justify-content-center">
        <div class="card border text-center border-radius card bg-transparent text-light" style="width: 18rem;">
            <img class="card-img-top border-radius " src="https://images-na.ssl-images-amazon.com/images/I/51boYLA+96L.jpg" alt="Imagem de capa do card">
            <div class="card-body">
                <h4 class="card-title fonte font-weight-bold">O Cavaleiro dos Sete Reinos</h4>
                <p class="card-text">"Duzentos anos após a Conquista, a dinastia Targaryen vive seu auge. Os Sete Reinos de Westeros atravessam um tempo de relativa paz, nos últimos anos do reinado do Bom Rei Daeron"</p>
                <div class="">
                   
                </div>
                
            </div>
        </div>
        
    </div>
</div>

<hr>
<div class="row d-flex justify-content-center">
    <div class="col-md-3 m-3 d-flex justify-content-center">
        <div class="card border text-center border-radius card bg-transparent text-light" style="width: 18rem;">
            <img class="card-img-top border-radius " src="https://images-na.ssl-images-amazon.com/images/I/51FRZlShIbL.jpg" alt="Imagem de capa do card">
            <div class="card-body">
                <h4 class="card-title fonte font-weight-bold">Sonho Febril</h4>
                <p class="card-text">"Uma reinvenção original e fascinante das histórias de vampiros"</p>
                <div class="">
                    
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 m-3 d-flex justify-content-center">
        <div class="card border text-center border-radius card bg-transparent text-light" style="width: 18rem;">
            <img class="card-img-top border-radius " src="https://m.media-amazon.com/images/I/51FOJY6Md8L.jpg" alt="Imagem de capa do card">
            <div class="card-body">
                <h4 class="card-title fonte font-weight-bold">As Crônicas de Gelo e Fogo</h4>
                <p class="card-text">E para satisfazer a ânsia dos aficionados e dos novos leitores, a Leya publica uma nova edição limitada do Box "As crônicas de gelo e fogo" com os cinco livros já escritos- "A guerra dos tronos", "A fúria dos reis", "A tormenta de espadas", "O festim dos corvos" e "A dança dos dragões."</p>
                <div class="">
                   
                </div>
                
            </div>
        </div>
        
    </div>
    <div class="col-md-3 m-3 d-flex justify-content-center">
        <div class="card border text-center border-radius card bg-transparent text-light" style="width: 18rem;">
            <img class="card-img-top border-radius " src="https://images-na.ssl-images-amazon.com/images/I/91H6JpFRJYL.jpg" alt="Imagem de capa do card">
            <div class="card-body">
                <h4 class="card-title fonte font-weight-bold">Caçador em Fuga</h4>
                <p class="card-text">"Uma aventura surpreendente sobre a liberdade"</p>
                <div class="">
                   
                </div>
                
            </div>
        </div>
        
    </div>
   
</div>