<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  
  <div class="carousel-inner gif">
    <div class="carousel-item active">
      <img class="d-block w-50"  src="https://images-ext-1.discordapp.net/external/EJ_JLHGQE8WVVE3FRGGEm3hXb8yUJ2INTe46_ap-9OU/https/i.gifer.com/6stG.gif" alt="First slide" >
    </div>
</div>

<div class="container-fluid" >
<div class="container py-3 hbo" >
  <div class="title text-center text-white"> 
    <img class="espada"
    src="https://media2.giphy.com/media/jTrMA103TiGQM5hlv4/giphy.gif?cid=ecf05e47uh2ub5es8j65ahwo2ohwbc72qtk7leabm0e37rjr&rid=giphy.gif&ct=s"
    alt="" width="150px" height="150px">
    <h1>Acesse os links abaixo</h1>
  
     </div>
  
  <!-- Card Start -->
  <div class="card hbo2">
    <div class="row ">

      <div class="col-md-7 px-3">
        <div class="card-block px-6">
          <h4 class="card-title">Assista Game of Thrones (HBO) na HBO Max.</h4>
          <p class="card-text">
             Série baseada nos livros de George R. R. Martin, As Crônicas de Gelo e Fogo, que conta a saga de sete nobres famílias em luta pelo controle da mítica terra de Westeros, dividida depois de uma guerra. Num cenário que lembra a Europa medieval, reis, rainhas, cavaleiros e renegados usam todos os meios em nome do poder. Uma das produções de maior audiência da HBO, GAME OF THRONES conquistou inúmeros prêmios e reconhecimentos, entre eles 59 Emmys e 5 Screen Actors Guild Awards.
          </p>
          <p class="card-text">Para mais informações acesse: </p>
        
          <a href="https://www.hbomax.com/br/pt/series/urn:hbo:series:GVU2cggagzYNJjhsJATwo" target="_blank" class="mt-auto btn acesse">HBOMax</a>
        </div>
      </div>
      
      <!-- Carousel start -->
      <div class="col-md-5">
        <div id="CarouselTest" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">

          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block" src="https://media1.giphy.com/media/3o85xkK1HRFJOAm2c0/giphy.gif?cid=ecf05e47tagi3rgmaob16huqrtzqyefizvql8fos2zh7nwng&rid=giphy.gif&ct=g" alt="" width="540px" height="330px" >
            </div>
                
          </div>
        </div>
      </div>
      <!-- End of carousel -->
    </div>
  </div>
  <!-- End of card -->

<div class="container py-3 hbo">
  <div class="card float-left hbo2">
    <div class="row ">

      <div class="col-sm-7">
        <div class="card-block">
          <!--           <h4 class="card-title">Small card</h4> -->
          <p>Para comprar acessórios e livros acesse o site da Amazon:</p>
          <a href="https://www.amazon.com.br/game-of-thrones/s?k=game+of+thrones" target="_blank" class="btn btn-sm acesse1">Amazon</a>
        </div>
      </div>

      <div class="col-sm-5">
        <img class="d-block links1" src="https://media1.giphy.com/media/YRu4GvhoMLzGmdcC12/giphy.gif" alt="">
      </div>
    </div>
  </div>
  
    <div class="card float-right hbo2">
      <div class="row">
       
        <div class="col-sm-7">
          <div class="card-block">
            <!--           <h4 class="card-title">Small card</h4> -->
            <p>Acesse a comunidade <strong>"GAME OF THRONES WIKI"</strong> no discord e compartilhe suas ideias por lá !!!</p>
            <p><strong> Winter is Coming </strong></p>
            
            <a href="https://discord.com/invite/xHhbHFra" target="_blank" class="btn acesse2 btn-sm float-right">Discord</a>
          </div>
        </div>
        <div class="col-sm-5">
          <img class="d-block w-100 links1" src="https://c.tenor.com/9zsOMAT7q_MAAAAi/discord-logo.gif" alt="">
        </div>
      </div>
    </div>
  </div>
  </div>
  